<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ромашкіна: Про нас | Історія сімейного бізнесу, якісні саджанці</title>
    <meta
      name="description"
      content="Історія компанії Ромашкіна: як сімейний бізнес із продажу саджанців та рослин, заснований у 2014 році, виріс завдяки любові до землі та постійному розвитку."
    />
    <meta
      name="keywords"
      content="Ромашкіна, про нас, історія компанії, сімейний бізнес, саджанці, рослини, оптові ціни, 2014 рік"
    />
    {% load static %}
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />

    <link rel="stylesheet" href="{% static 'style/about.css' %}" />
    <link
      href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Roboto&display=swap"
      rel="stylesheet"
    />
  </head>
  <body  background="../static/img/фон.webp">
    <header>
      <div class="logo">
        <img src="../static/img/Frame 1 1.png" alt="Логотип Ромашкіна" />
      </div>
      <nav>
        <a href="{% url 'main' %}">Головна</a>
        <a href="{% url 'shop' %}">Магазин</a> 
        <a href="{% url 'about' %}" class="active-page">Про нас</a>
        <a href="{% url 'contact' %}">Контакти</a>
      </nav>
    </header>

    <main class="about">
      <div class="about-text-up">
        <h1>Трішки про нас</h1>
        <h2>
          Усе починалося з малого бюджету, але з великого бажання створити
          власний бізнес
        </h2>
      </div>
      <div class="between">
        <p class="first">
          Коли в 2014 році наш батько оголосив, що ми починаємо цю справу, нам
          важко було <br />
          в це повірити. Це здавалося ризикованим кроком, адже ми не мали
          великого досвіду чи значного стартового капіталу. Проте була одна річ,
          яка рухала нас уперед — безмежна любов до землі та віра в те, що праця
          принесе плоди.
        </p>
        <div class="about-images">
          <img
            src="../static/img/photo_2025-04-22_23-14-30.jpg"
            alt="Обладнання для догляду за рослинами Ромашкіна"
            class="rounded-img"
          />
          <img
            src="../static/img/photo_2025-04-22_23-14-41.jpg"
            alt="Засновники сімейного бізнесу Ромашкіна"
            class="rounded-img"
          />
        </div>
      </div>
      <p class="second">
        З часом ми зрозуміли, що ключ до успіху – це не боятися змін. Ми почали
        використовувати новітні методи догляду за рослинами, вкладали кошти в
        якісне обладнання, шукали кращі сорти. І головне – не припиняли вірити в
        нашу справу.
      </p>

      <section class="cta">
        <a href="{% url 'contact' %}" class="button" title="Запит оптових цін на саджанці">ОТРИМАТИ ОПТОВІ ЦІНИ</a>
      </section>
    </main>
  </body>
</html>